<%= form_with(model: rental, local: true) do |form| %>
  <% if rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
        <% rental.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :car %>
    <%= form.text_field :car %>
  </div>

  <div class="field">
    <%= form.label :days_rented %>
    <%= form.number_field :days_rented %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
