<p id="notice"><%= notice %></p>

<p>
  <strong>Car:</strong>
  <%= @rental.car %>
</p>

<p>
  <strong>Days rented:</strong>
  <%= @rental.days_rented %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
